* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-width: 350px;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #eae6e0;
}

a {
  color: #fff;
  text-decoration: none;
}

.people__slide .swiper-slide {
  width: 297px;
  padding: 30px 0;
  transform: scale(0.75);
  transition: 0.3s;
}
.people__slide .swiper-slide .people__card {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 276px;
  padding: 25px 30px 30px;
  border-radius: 48px;
  background: linear-gradient(135deg, #fda668, #fda367, #fa9966, #f58c64, #ef7e64, #e97164, #e46865, #e26565);
  transition: 0.3s;
}
.people__slide .swiper-slide .people__card .people__image {
  position: relative;
  padding: 4px;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.people__slide .swiper-slide .people__card .people__image img {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.people__slide .swiper-slide .people__card .people__info {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.people__slide .swiper-slide .people__card .people__social {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 0;
}
.people__slide .swiper-slide .people__card .people__social li {
  padding: 0 5px;
}
.people__slide .swiper-slide .people__card .people__social li a {
  padding: 5px;
  color: #fff;
}
.people__slide .swiper-slide .people__card .people__name {
  margin-bottom: 10px;
}
.people__slide .swiper-slide .people__card .people__position {
  margin-bottom: 15px;
  font-size: 14px;
  color: #fff;
}
.people__slide .swiper-slide .people__card .people__desc {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 1.4;
  color: #fff;
  text-align: center;
}
.people__slide .swiper-slide .people__card .people__btn {
  display: inline-flex;
}
.people__slide .swiper-slide .people__card .people__btn a {
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  border: solid 1px #fff;
  transition: 0.25s;
  text-decoration: none;
}
.people__slide .swiper-slide .people__card .people__btn a:hover {
  background-color: #fff;
  color: #e26565;
}
.people__slide .swiper-slide.swiper-slide-active {
  -webkit-animation-name: elastic1;
          animation-name: elastic1;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.people__slide .swiper-slide.swiper-slide-active {
  -webkit-animation-name: elastic1_sp;
          animation-name: elastic1_sp;
}
.people__slide .swiper-slide:nth-child(even) .people__card {
  transform: rotate(-5deg);
}
.people__slide .swiper-slide:nth-child(odd) .people__card {
  transform: rotate(5deg);
}

@-webkit-keyframes elastic1 {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.4);
  }
  55% {
    transform: scale(1.27);
  }
  70% {
    transform: scale(1.36);
  }
  85% {
    transform: scale(1.31);
  }
  100% {
    transform: scale(1.33);
  }
}

@keyframes elastic1 {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.4);
  }
  55% {
    transform: scale(1.27);
  }
  70% {
    transform: scale(1.36);
  }
  85% {
    transform: scale(1.31);
  }
  100% {
    transform: scale(1.33);
  }
}
@-webkit-keyframes elastic1_sp {
  0% {
    transform: scale(0.75);
  }
  40% {
    transform: scale(1.05);
  }
  55% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1.02);
  }
  85% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes elastic1_sp {
  0% {
    transform: scale(0.75);
  }
  40% {
    transform: scale(1.05);
  }
  55% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1.02);
  }
  85% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
